body {
    background-color: #494949;
    color: white;
}

header > div {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

#viewHighscores {
    position: absolute;
    left: 10px;
}

#introSection {
    text-align: center;
}

section > ol {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section {
    text-align: center;
    display: none;
    list-style-position: inside;
    margin-top: 1.5%
    display: none
}

section:hover {
    cursor: pointer;
}