body {
    background-color: #333333;
    color: white;
    font-size: 2em;
}

header > div {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

#viewHighscores {
    position: absolute;
    left: 10px;
}

#introSection {
    text-align: center;
}

section > ol {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section {
    text-align: center;
    display: none;
    list-style-position: inside;
    margin-top: 1.5%;
    display: none;
}

section:hover {
    cursor: pointer;
}

#highScoreScreen:hover {
    cursor: text;
}

#viewHighscores:hover {
    cursor: pointer;
}

#finalScreen > div {
    margin: 10px;
}

ul {
    padding-inline-start: 0px;
}

ol > li {
    background-color: #e07405;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

#scoreList > li {
    list-style-type: none;
    margin: 5px;
}

#scoreList > li > span {
    display: inline-block;
    width: 100px;
}

button {
    width: 140px;
    height: 50px;
    font-size: 20px;
}

#initials {
    width: 150px;
    font-size: 20px;
    height: 50px;
}

button:hover {
    cursor: pointer;
}